{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": ["stylelint-config-recommended"],
  "rules": {
    "scss/selector-no-redundant-nesting-selector": true,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}