@import './styles/variable.scss';
@import './styles/common.scss';

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

* {
  box-sizing: inherit;
}

.main {
  max-width: 1260px;
}

.section {
  background: $grey;
}